pip>=24.0
APScheduler==3.10.4
click==8.1.7
colorama==0.4.6
Flask>=3.1.0
Flask-Compress>=1.15
Flask-SQLAlchemy>=3.1.1
idna>=3.10
itsdangerous>=2.2.0
Jinja2>=3.1.6
logparser>=0.8.4
MarkupSafe>=3.0.2
pexpect>=4.9.0
ptyprocess>=0.7.0
pytz>=2024.2
requests>=2.32.0
setuptools>=75.0.0
six>=1.16.0
SQLAlchemy>=2.0.36
tzlocal>=5.2
w3lib>=2.2.1
Werkzeug>=3.1.0
